port=<Port_Number>
DB_CONN_STR="mongodb://<username>:<password>@<dbname>-shard-00-00.hgqoa.mongodb.net:27017,<db-name>-shard-00-01.hgqoa.mongodb.net:27017,freedb-shard-00-02.hgqoa.mongodb.net:27017/?ssl=true&replicaSet=FreeDB-shard-0&authSource=admin&retryWrites=true&w=majority"